body {
    font-family: Courier, serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}
h1 {
    text-align: auto;
    color: #333;
}
video {
    width:100%;
    height: auto;
}
p {
    color: #555;
    line-height: 1.6;
}